[Unit]
Description=Reconcile QuickNotes from Git with ansible-pull
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ansible-pull -U {{ ansible_pull_repo }} -C {{ ansible_pull_branch }} -d {{ ansible_pull_checkout_dir }} -i {{ ansible_pull_inventory_path }} {{ ansible_pull_playbook }}
