[Unit]
Description=QuickNotes service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ quicknotes_user }}
Group={{ quicknotes_group }}
WorkingDirectory={{ quicknotes_data_dir }}
Environment="ADDR={{ listen_addr }}"
Environment="DATA_PATH={{ data_path }}"
Environment="SEED_PATH={{ seed_path }}"
ExecStart={{ quicknotes_binary_path }}
Restart=on-failure
RestartSec={{ restart_delay }}

[Install]
WantedBy=multi-user.target
